nav{    
    padding: 0.6rem;
    color: #ffffff;
    overflow: hidden;
    position: sticky;
    top: 0;
}
#brand{
    position: relative;
    display: inline-flex;
    padding: 0.1%;
}
.navbar-brand {
    width: 2.8rem;
    margin-left: 5px;
    cursor: pointer;
}
.cent{
    position: relative;
    width: 25px;
}
.btn{
    border: 0;
    margin-right: 8%;
}
.cent:hover {
    cursor: pointer;
}
#left{
    position: relative;    
    width: 2.5rem;
    align-content: center;
    cursor: pointer;
}
.logo{
    width: 10%;
    height: 90%;
}
#input{
    width: max-content;
    height: 80%;
    text-align: center;
    margin-left: 6px;
    margin-top: 1%;
    border-radius: 20px;
    background-color: rgb(83, 84, 85);
}
.d{
    width: 103%;
    overflow: scroll;
}
.d1{
    width:  105%;
}

.sp{
    border: 0;
    text-align: left;
    border-radius: 10px;
    margin-left: -2px;
    width: 100%;
    background-color: rgb(26, 24, 24);
}
.sp:hover{
    background-color: rgb(41, 46, 46);
}
.lk{
    text-decoration: none;
    color: #e6e6e6;
}
.post{
    background-color: rgb(41, 46, 46);
    color: white;
    border-radius: 10px;
    width: 100%;
    float: right;
    height: auto;
}
.ipost{
    width: 100%;
    border-radius: 10px;
}
#del:hover{
    color: rgb(135, 135, 135);
    cursor:  pointer;
}

/* fbform */
.ipost1{
    width: 100%;
}
.home{
    background-color: rgb(87, 98, 98);
    border-radius: 20px;
    margin-left: 3px;
}